:root {
  --primary : #815854;
  --secondary : #F9EBDE;
}

* {
  margin : 0;
  padding : 0;
  box-sizing: 0;
}

body {
  background-color: var(--secondary);
  color : var(--primary);
  font-family: 'Indie Flower', cursive;
  position: relative;
}

titlebar {
  position: absolute;
  top : 0;
  right : 0;
  left : 0;
  height : 60px;
  text-align: center;
  padding-top : 40px;
}

#left, #right {
  position: absolute;
  margin : auto 3vw;
  top : calc( 100px + 35vw);
  transform : translateY(50%);
  width : 7vw;
  height : 7vw;
  border-radius: 50%;
  background-color: #11111133;
  color : var(--primary);
  font-size : 32px;
  font-family: 'Indie Flower', cursive;
  border : none;
  display : inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#left {
  left : 0;
}

#right {
  right : 0;
}

p {
  color : black;
  font-size : 19px;
}

column {
  width : 70vw;
  min-width: 70vw;
  height : calc( 100% - 100px );
  padding : 20px 15% 0 15%;
  display: flex;
  scroll-snap-align: center;
  flex-flow: column nowrap;
  text-align: center;
  margin : 0 0;
}

column:first-of-type {
  margin : 0 0 0 0;
}
column:last-of-type {
  margin:  0 0 0 0;
}

horizontal {
  display: flex;
  height : calc( 100vh - 100px );
  width : 100vw;
  flex : none;
  overflow: auto;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-top : 100px;
}

progressbar {
  position :relative;
  top :0;
  left : 0;
  right : 0;
  width : 100px;
  max-width : 100px;
  height : 10px;
  margin : 0 auto;
  padding : 0 5px;
  display : inline-block;
  border-radius : 5px;
  background-color: var(--primary);
  overflow-x :visible;
  transition : all .5s ease-in-out ;
}

progressbar spot {
  position: absolute;
  left : 0;
  display: inline-block;
  height : 6px;
  width : 6px;
  transform: translate(2px,2px);
  border-radius : 50%;
  background-color: var(--secondary);
  transition : all .3s ease-in-out;
  margin-left: 0px;
  z-index : 10;
}

column > img {
  width : 70vw;
  height : 70vw;
  margin : 0 auto;
  margin-bottom : 10px;
}

footer {
  position : absolute;
  bottom : 0;
  right : 0;
  left : 0;
  height : 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
curtain {
  display : none;
}

@media (min-width : 540px){
  curtain {
    display : flex;
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 100;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    align-items: center;
    justify-content: center;
  }

  curtain > p {
    width : 30vw;
    height : 30vw;
    display: inline-flex;
    background-color: white;
    padding : 10px;
    font-size : 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1em;
  }
}

.vanish {
  opacity : 0;
  transition : all 1s ease-in-out ;
}
