:root {
  --primary : #2BAE66;
  --secondary : #FCF6F5;
}

* {
  margin : 0;
  padding : 0;
  box-sizing: 0;
}

body {
  background-color: var(--secondary);
  color : var(--primary);
  font-family: fantasy;
}

p {
  color : black;
}

column {
  width : 80vw;
  min-width: 80vw;
  height : 100vh;
  padding : 20px 10% 0 10%;
  display: flex;
  scroll-snap-align: center;
  flex-flow: column nowrap;
  text-align: center;
}

horizontal {
  display: flex;
  height : 100vh;
  width : 100vw;
  flex : none;
  overflow: auto;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
}

column > img {
  width : 80vw;
  height : 80vw;
  margin : 0 auto;
  margin-bottom : 10px;
}
