body {
  min-height : 100%;
}

maintext {
  width: 90vw;
  padding: 100px 5vw 0 5vw;
  display: block;
  margin-bottom: 100px;
}

maintext p {
  text-indent: 30px;
  margin-bottom: 30px;
}

footer {
  position : relative;
}
